
nav {
    margin-top: 50px;
    position: fixed;
    display: block;
    width: 250px;
    background: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 5px;
    cursor: pointer;
}

.section-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 0px;
    color: #aaa;
    cursor: default;
}

.content {
    margin-top: 20px;
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
    max-width: 650px;
}
h1{color: rgb(111, 1, 255);}
h2{color: rgb(175, 114, 253);}
.highlight{color: rgb(175, 114, 253); font-weight: bold;}
.hamburger {
    display: none;
    font-weight: bolder;
    font-size: x-large;
    background: var(--top-bar);
    color: var(--text-color);
    padding: 10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.close-btn {
    display: none; /* Hide close button by default */
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    color: var(--text-color);
    border: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 1001;
}

.callout{
    background-color: var(--callout);
    margin-left: 10px;
    max-width: 90%;
    padding: 5px 20px 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav {
        transform: translateX(-100%); /* Hide nav by default on mobile */
    }
    .hamburger {
        display: block; /* Show hamburger on mobile */
    }
    nav.show {
        transform: translateX(0); /* Show nav when .show class is added */
    }
    .content {
        margin-left: 0;
    }
    nav.show .close-btn {
        display: block; /* Show close button when nav is open */
    }
}